.filtered-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
	margin-top: 1em;
	margin-bottom: 1em;
}

#content {
	margin-left: 5% !important;
	width: 90% !important;
	color: white !important;
}

body {
	background-color: lightblue !important;
	background-image: none !important;
}

#overlay-container {
	margin-bottom: 1em;
}

.success-msg {
	font-size: 2em;
}

.home-link {
	color: white;
}
